// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.counters{
    margin-right: 30px;
    font-size: 14px;
    text-align: center;

    strong{
        display: block;
        font-size: 2em;
    }

    .vote, .answer {
        width: 70px;
        height: 70px;
    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $color-green;
            color: $color-green;
            border-radius: 5px;
        }

        &.answered-accepted {
            background: $color-green;
            color: $color-white;
        }
    }
}

.vote-accepted{
    color:#11BA57;
}